.navbar-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: aliceblue;
}

.navbar-left {
    display: flex;
    flex-direction: row;
}

.navbar-left h1 {
    font-size: xx-large;
    margin: auto 0 auto 2rem;
}

.navbar-logo {
    width: 6rem;
    margin: .5rem 0 .5rem 10rem;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    gap: 6rem;
}

.navbar-links ul li {
    font-size: x-large;
    font-weight: 500;
}

.navbar-links ul li:hover {
    transform: scale(1.25);
    transition: .4s ease-in-out;
}